:root {
    --primary-color: teal;
    --card-color: white;
}

* {
    margin: 0;
    padding: 0;
    /* border: 1px solid black; */
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: teal;
}

header {
    display: flex;
    background-color: var(--card-color);
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: space-between;
}

header > a {
    padding: 10px;
    margin-left: 20px;
}

#timer {
    height: 10px;
    width: 100px;
    padding: 10px;
    margin-right: 40px;
}

#quiz-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--card-color);
    margin:100px auto;
    width: 50%;
    padding: 40px;
    box-shadow: 0px 3px 20px 0px rgb(0, 0, 0, 0.5);
    border-radius: 7px;
}

#question-block {
    width: 100%;
}

#question-txt {
    padding: 20px 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid gray;
}

#answer-block {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* border-top: 1px solid black; */
}

.answer-btn {
    padding: 10px;
    margin-bottom: 5px;
    text-align: left;
    border-radius: 5px;
    border: 1px solid lightgray;
    background-color: whitesmoke;
    width: 100%;
}

.answer-btn:hover {
    background-color: teal;
    color: white;
}

#controls {

}

.btn {
    font-size: 30pt;
    padding: 10px;
    /* flex: 0 1 200px; */
    width: 200px;
    color: var(--card-color);
    background-color: var(--primary-color);
    border-radius: 5px;
    border: none;
    margin: auto;
}

.btn:hover {
    color: white;
    background-color: lightslategray;
}

.hide {
    display: none;
}

.input {
    width: 30%;
    height: 30px;
    margin: 20px 10px;
    font-size: large;
    align-self: center;
}

.scorelist {
    margin-bottom: 15px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.initials {

}

.score {

}

.scorelist > li {
    display: flex;
    justify-content: space-between;
    height: 30px;
    padding: 20px 30px;
    font-size: 15pt;
}

.scorelist li:nth-child(odd) {
    background-color: whitesmoke;
}

#list-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}